<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748197508959-6vvvfvs8q1584tjk1i5eplhgd4gj9pgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748197508959-6vvvfvs8q1584tjk1i5eplhgd4gj9pgm</string>
	<key>API_KEY</key>
	<string>AIzaSyBFXeh8zc3Xqqt-nzs5wSG6mGx_7tsR174</string>
	<key>GCM_SENDER_ID</key>
	<string>748197508959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vladi.ComedyBook</string>
	<key>PROJECT_ID</key>
	<string>comedybook-92e4f</string>
	<key>STORAGE_BUCKET</key>
	<string>comedybook-92e4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748197508959:ios:5a659280c97161226968ea</string>
	<key>DATABASE_URL</key>
	<string>https://comedybook-92e4f-default-rtdb.firebaseio.com</string>
</dict>
</plist>